@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;
}

/* remove input number spinner */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.heartColor {
  color: #ff0000;
}

@layer components {
  /* nav item styles */
  .nav-item {
    @apply flex cursor-pointer items-center whitespace-nowrap font-bold text-neutral-600 transition-all hover:text-neutral-900;
  }
  .drowdown-nav-item {
    @apply flex cursor-pointer items-center whitespace-nowrap px-4 py-1 font-bold text-neutral-600 transition-all hover:bg-neutral-200 hover:text-neutral-900;
  }
  /* offer countdown styles */
  .offer-countdown {
    @apply grid h-20 w-24 flex-grow basis-[96px] place-items-center rounded-lg bg-green-500 p-2 font-bold text-white;
  }
  /* featured tab stayle  */
  .featured-tab {
    @apply grid flex-grow basis-auto cursor-pointer place-items-center rounded-lg border border-orange-500 bg-white px-4 py-2 font-medium text-black transition-all;
  }
  /* search preferences style */
  .search-preference-tab {
    @apply grid place-items-center rounded-lg border border-green-600 bg-white px-4 py-2 font-medium text-black transition-all hover:bg-green-100;
  }
  /* product size style  */
  .product-size {
    @apply grid w-fit cursor-pointer place-items-center rounded-full bg-neutral-100 p-1 px-2 transition-all hover:bg-neutral-200;
  }
  /* product color style   */
  .product-color {
    @apply w-fit cursor-pointer rounded-full border-2 border-transparent px-2;
  }
  /* primaryBtn styles */
  .primaryBtn {
    @apply grid place-items-center rounded-lg border border-green-600 bg-green-600 px-4 py-2 font-medium text-white transition-all hover:bg-green-700;
  }
  /* secondaryBtn styles */
  .secondaryBtn {
    @apply grid place-items-center rounded-lg border border-green-600 bg-white px-4 py-2 font-medium text-green-600 transition-all hover:bg-green-100;
  }
  /* primary input style  */
  .primaryInput {
    @apply w-full rounded-lg border p-2 pr-3 font-medium outline-none transition-all focus:border-green-600;
  }
}
